@media (max-width : 1000px) {
    .contact-container {
        height: fit-content;
    }
    .--contact-container {
        flex-direction: column;
    }
    .contact-quote {
        max-width: 400px;
    }
    .contact-quote h1  {
        font-size: 6rem;
        line-height: 6rem;
    }
    
}