.main-div{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}
.name {
    line-height: 8rem;
    font-size: 10rem;
    height: fit-content;
    font-family: 'Climate Crisis', sans-serif;
    color : rgb(25, 20, 20);
    position: relative;
    z-index: 2;
    margin-left: 50px;
    margin-top: 60px;
    
}

.name .name-element > h2 {
    color: rgb(197, 191, 191);
}
.steve-jobs {
    position: absolute;
    left: 30%;
    top: -12%;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(80%);
}

.desc {
    width: 40rem;
    margin: 20px 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem;
    position: relative;
    z-index: 3;
    margin-left: 50px;
    margin-top: 40px;
}
.mouse {
    position: absolute;
    left: 0;
    bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}
.scroll {
    font-family: 'Comfortaa', sans-serif;;
}
.mouse-icon {
    height: 70px;
    border: 1px solid white;
    padding: 6px 2px;
    border-radius: 40px;
}

.icon-mouse {
    animation: upsideDown 5s linear infinite;
}


@keyframes upsideDown {
    0% {
        transform: translateY(0);
    }
    100%{
        transform: translateY(100%);
    }
    0%{
        transform: translateY(0);
    }
}
