.work-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 30px;
}

.upper_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  padding: 0 80px;
}
.heading {
  width: 50%;
  font-family: var(--family);
}
.upper_div .heading h1 {
  font-size: 1rem;
  color: greenyellow;
}
.upper_div .heading h3 {
  font-size: 3rem;
  font-family: var(--syne);
}
.heading h3 > span {
  color: greenyellow;
}
.cta {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cta h1 {
  font-size: 2rem;
  font-family: var(--family);
}

.cta .button {
  display: flex;
  align-items: flex-start;
  width: 60%;
  padding: 0 40px;
  margin-top: 10px;
}
.cta .button button {
  font-family: var(--syne);
  transition: color 0.4 linear ease-in;
}
.cta .button button:hover {
  color: yellowgreen;
}

.skill-logo {
  width: 100%;
  height: 100%;
  /* background-color: #adff2f; */
  color: rgb(143, 140, 140);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  /* padding: 0 40px; */
}

.skill-logo h2 {
  font-family: var(--syne);
  font-size: 2.5rem;
  font-weight: 900;
  gap: 4px;
  position: relative;
  -webkit-text-stroke: 1px;
}

.skill-logo h2 > span {
  margin-left: 30px;
  font-size: 20px;
  text-align: center;
}

.middle_div {
  margin-bottom: 20px;
  max-width: 100%;
  height: fit-content;
  padding: 10px;
  gap: 3px;
  display: flex;
}

.middle_div > .widht_div {
  width: 50%;
  /* border: 1px solid #f1f1f1; */
}

.middle_div .left_div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 14px;
  height: 100%;
}
.middle_div .left_div > div {
  max-height: 50%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
}

.middle_div .left_div .upper_element {
  width: 100%;
  height: 400px;
}

.middle_div .left_div .lower_element {
  height: 500px;
  position: relative;
}

.lower_element::before {
  content: "Sooon Later";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  transform: translate(40% , 40%);
  color: #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--cliamte);
  font-size: 2rem;
  text-shadow: 5px 5px 10px black;
  z-index: 100;
  pointer-events: none;
}

.middle_div img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.middle_div img:hover {
  transform: scale(1.2);

  transition: all 0.5 linear ease-in-out;
}
.center_div {
  overflow: hidden;
  border-radius: 8px;
  /* height: 100%; */
}
 .center_div img {
    width: 100%;
    height:895px;
    background-position: center;
    border-radius: 8px;
    object-fit: cover;
}

/*
.center_div  img:hover {
    transform: scale(1.2);

    transition: all 0.5 linear ease-in-out;
} */

.right_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.right_div > div {
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.right_inner_upper_div_element {
  border-radius: 8px;
}

.right_inner_lower_div_element {
  border-top: 5px solid rgb(40, 41, 40);
  border-left: 5px solid rgb(40, 41, 40);
  border-top-left-radius: 40px;
  margin-top: 4px;
  padding: 30px 10px;
  font-family: var(--cliamte);
  display: flex;
  font-size: 4rem;
  flex-direction: column;
  position: relative;
}


.redirect_link {
  position: absolute;
  top: 0;
  right: 0px;
  transform: translate(-40%, 25%);
  /* border: 1px dashed gray; */
  padding: 40px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.redirect_link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  padding: 84px;
  border: 1px dashed white;
  border-radius: 50%;
  animation: spin 20s cubic-bezier(0.27, 0.13, 0.69, 0.97) infinite;
}
.arrow_icon {
  position: relative;
  z-index: 20;
}
.redirect_link .arrow_icon:hover {
  transform: scale(1.1);
}

.redirect_link:hover::before {
  animation-play-state: paused;
}

@keyframes spin {
  to {
    transform:  rotate(0);
  }
  from {
    transform:  rotate(360deg);
  }
}
