

/* Screen width 1200 px  */
/* Screen width 1100 px  */


@media  (max-width : 1100px) {
    .main-div{
        height: 80vh;
    }
    .name {
        margin-left: 30px;
    }
    .name-element {
        padding: 0 20px;
        font-size: 6rem;
        line-height: 4rem;
        padding-left: 50px;
        margin-top: 50px;
        
    }

    .steve-jobs {
        justify-content: center;
    }
    
    .steve-jobs > img {
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
    .desc {
        padding: 0 30px;
    }
    .desc > h1 {
        font-size: 14px;
        width: 60%;
        margin-left: 12px;
    }
    .mouse {
        bottom: 80px;
    }
}

@media  (max-width : 800px) {

    .main-div {
        height:90vh !important;
    }
  
    .name-element {
        font-size: 4rem; 
        line-height: 1rem;
        margin-top: 60px;
    }

    .steve-jobs {
        top: -22% !important;
    }
    
    .steve-jobs > img {
        width: 500px !important;
        height: 500px !important;
        object-fit: contain;
    }
    .desc {
        padding: 0 30px;
    }
    .desc > h1 {
        font-size: 14px;
        width: 60%;
    }
    .mouse {
        bottom: 200px !important;
    }
}

@media (max-width : 650px) {
    .main-div {
        padding: 0 0;
    }
    .name-element {
        font-size: 3rem; 
        line-height: 0.7rem;
        margin-top: 60px;
        margin-right: 40px;
    }
    .name {
        margin-left: 0;
    }
    .steve-jobs > img {
        width: 400px !important;
        height: 400px !important;
    }
}