/* Marquee infinite animation from Internet  */


.marquee {
    display: flex;
    overflow: hidden;
    height: 10vh;
    user-select: none;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
     transform: skewY(-3deg);
     /*transform: rotate(-5deg) translateY(-30px) translateX(50px);*/
  }
  
  
  .marquee:hover {
    -webkit-text-stroke: 1.5px #fff;
      text-stroke: 1.5px #fff;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      color: transparent;
      transition: all 0.5s ease;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  
  }
  
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-width: 100%;
    animation: scroll 35s linear infinite reverse;
    cursor : pointer
  }
  
  .marquee__group span {
    color: white;
    font-size: 3vw;
    font-weight: 600;
    white-space: nowrap;
    font-family: var(--syne) !important;
    /*text-transform: uppercase;*/
    
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 2rem));
    }
  }
  
  @media only screen and (min-width: 360px) {
      .marquee__group span {
          font-size: 6.5vw;
      }
  }