.contact-form {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.email {
    width: 100%;
    display: flex;
    justify-content: center;

}
.email .email-id {
    font-family: var(--syne);
    font-size: 7rem;
}

@media (max-width : 1000px) {
    .contact-form {
        align-items: start;
        margin-top: 70px;
    }
    .email {
        justify-content: start;
        line-height: 0.7rem;
    }
}