@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Comfortaa&display=swap&family=Syne:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --family : "Comfortaa", sans-serif;
    --cliamte : 'Climate Crisis', sans-serif;
    --syne : "Syne", sans-serif ;
}


